body {
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EDF5E1;
}

li {
  margin-bottom: 1rem;
}

code {
  display: inline-block;
  padding: 0 4px;
  border-radius: 2px;
  font-family: monospace;
  color: #1D0D10;
  background-color: #B1B59A;
}

code.string {
  color: #B17844;
  background-color: transparent;
}

code.boolean {
  color: #D0104C;
  background-color: transparent;
}

code.number {
  color: #33A6B8;
  background-color: transparent;
}

code.undefined {
  color: #1D0D10;
  background-color: transparent;
}
